.changer{
    

    
    border-radius: 10px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    border: 1px solid ;
}

.button{
display: flex;
align-items: flex-end;
}
body{
    background-color:azure ;
   
}